name: Send Daily Email

on:
  schedule:
    - cron: '0 16 * * *'  # 每天 UTC 时间 12:00 触发
  workflow_dispatch:  # 添加手动触发支持


jobs:
  send_email:
    runs-on: ubuntu-latest
    steps:
      - name: Get current time
        id: current-time
        run: echo "time=$(date +'%Y-%m-%d %H:%M:%S UTC')" >> $GITHUB_OUTPUT

      # - name: Send Email
      #   uses: dawidd6/action-send-mail@v3
      #   with:
      #     server_address: pop.qq.com
      #     server_port: 995
      #     username: ${{ secrets.EMAIL_USERNAME }}  # 你的 Gmail 邮箱地址
      #     password: ${{ secrets.EMAIL_PASSWORD }}  # Gmail 应用专用密码
      #     subject: Daily Notification
      #     body: |
      #       这是一封自动发送的邮件。
      #       发送时间：${{ github.event.schedule }}
      #     to: 953814034@qq.com  # 接收邮件的地址
      #     from: GitHub Actions  # 发件人名称

